docs/auto-deploy-n8n-workflow.json
{
  "name": "Nexus auto-deploy",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nexus-deploy",
        "responseMode": "onReceived",
        "responseCode": 200,
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "GitHub Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "nexus-deploy"
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst secret = $env.NEXUS_WEBHOOK_SECRET;\nconst sigHeader = $request.headers['x-hub-signature-256'] || '';\nconst body = JSON.stringify($input.first().json);\nconst expected = 'sha256=' + crypto.createHmac('sha256', secret).update(body).digest('hex');\nif (sigHeader !== expected) {\n  return [{ json: { ok: false, error: 'invalid signature' } }];\n}\nreturn [{ json: { ok: true, ref: $input.first().json.ref } }];"
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Validate HMAC",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-ok",
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "cond-ref",
              "leftValue": "={{ $json.ref }}",
              "rightValue": "refs/heads/main",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Only main branch",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "command": "bash /usr/local/bin/nexus-deploy.sh"
      },
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "Run Deploy Script",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [900, 220]
    }
  ],
  "connections": {
    "GitHub Webhook": {
      "main": [
        [
          {
            "node": "Validate HMAC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate HMAC": {
      "main": [
        [
          {
            "node": "Only main branch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Only main branch": {
      "main": [
        [
          {
            "node": "Run Deploy Script",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "nexus-auto-deploy"
  },
  "id": "nexus-auto-deploy-workflow",
  "tags": ["deploy", "nexus"]
}
